<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="InstallStudies" Language="1033" Version="1.0.0.0" Manufacturer="Alex Beyderman" UpgradeCode="E7DB0E1F-014C-4B39-8CEE-045623040C73">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Binary Id="myCustomActionsDLL" SourceFile="$(var.CustomActionNew.TargetDir)CustomActionNew.CA.dll"/>

    <!--UI extension - minimal license dialog box-->
    <UIRef Id="WixUI_FeatureTree"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate  EmbedCab="yes"/>

    <!--define shortcut under specific menu location-->
    <DirectoryRef Id="MyShortcutFolder">
      <Component Id="MainShortcut" Guid="E7DB0E1F-014C-4B39-8CEE-045623040C72" >
        <Shortcut Id="Main" Name="Install Studies" Description="My Install Studies App" Target="[FILES]mainfile.txt"/>
        <RemoveFolder Id="RemoveMyShortcutFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software/Alex/InstallStudies" Name="installed" Type="integer" Value="1" KeyPath="yes"/>

        <!--uninstall the app shortcut-->
        <Shortcut Id="UninstallShortcut" Name="Uninstall the App"
                  Description="Uninstall the App" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
      </Component>
    </DirectoryRef>

    <FeatureRef Id="Main"/>
    <FeatureRef Id="Secondary"/>
    <FeatureRef Id="EmptyFolder"/>

    <!--<CustomActionRef Id="FirstUI"/>
    <CustomActionRef Id="FirstEXE"/>
    <CustomActionRef Id="SecondEXE"/>-->

    <CustomActionRef Id="SetAppDataDir"/>
    <CustomAction Id="RememberInstallLocation"  Value="[CommonAppDataFolder]MyGreatProduct" Property="APPINSTALLLOCATION"/>
    <SetProperty Id="OneTwoThreeProperty" Value="123" After="InstallInitialize" Sequence="execute"/>
    <CustomAction Id="CA_CustomActionNew" BinaryKey="myCustomActionsDLL" DllEntry="CustomAction1"  Execute="immediate" />

    <InstallUISequence>
      <Custom Action="CA_CustomActionNew" After="CostFinalize"/>
    </InstallUISequence>

    <InstallExecuteSequence>
      <!--<Custom Action="FirstEXE" After="InstallInitialize"/>
      <Custom Action="SecondEXE" After="FirstEXE"/>-->
      <Custom Action="RememberInstallLocation" After="InstallInitialize"/>
      <Custom Action="SetAppDataDir" Before="InstallFiles"/>
    </InstallExecuteSequence>

  </Product>
</Wix>
