<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!--<CustomAction Id="FirstUI" Execute="immediate" Return="check"/>
    <CustomAction Id="FirstEXE" Execute="deferred" Return="check"/>
    <CustomAction Id="SecondEXE" Execute="deferred" Return="check"/>-->

    <CustomAction Id="SetAppDataDir" Directory="FILES" Value="[CommonAppDataFolder]MyGreatProductFiles"/>
  </Fragment>
</Wix>

<!--Directory="INSTALLFOLDER"=-->
